---
// import TransMilenioLogo from "../../assets/logos/TransMilenio_logo.astro";
import TransMilenioLogo from "../../assets/transmi.png";
import Diagrama from "../../assets/final/diagrama.png";
import Tabla from "../../assets/final/tabla.png";
import Camaras from "../../assets/final/camaras.png";
import TransmiFooter from "../../assets/TransmiFooter.png";
import Base from "../layouts/Base.astro";

import Icon1 from "../../assets/icons/Icon-1.png";
import Icon2 from "../../assets/icons/Icon-2.png";
import Icon3 from "../../assets/icons/Icon-3.png";
import Icon4 from "../../assets/icons/Icon-4.png";
import Icon5 from "../../assets/icons/Icon-5.png";
import { IconSettings } from "@tabler/icons-react";
---

<Base>
  <nav class="flex flex-col">
    <div class="hidden xl:flex absolute h-[16vh] p-4 pb-0 px-14">
      <img class="h-full" src={TransMilenioLogo.src} />
    </div>
    <div
      class="flex justify-around bg-[#E34343] p-4 xl:pl-[20rem] pr-[5rem] text-white font-semibold"
    >
      <a href="/" class="text-shadow">INICIO</a>
      <a href="/CAI" class="text-shadow">SIMULACION</a>
      <a href="/nosotros" class="text-shadow">NOSOTROS</a>
    </div>
    <div class="bg-[#F1DE78] h-2"></div>
    <div class="bg-[#181818] h-5"></div>
  </nav>

  <main class="flex flex-col pt-8 xl:pt-[14vh] w-screen xl:overflow-x-hidden">
    <div class="px-12 xl:px-20 xl:h-[60vh]">
      <h2 class="font-semibold text-2xl text-shadow-sm">
        PROTOCOLO CÁMARAS DE SEGURIDAD
      </h2>

      <div class="flex flex-col xl:flex-row gap-12 text-xl p-6 bg-[#EDEDED]">
        <div
          class="flex flex-col gap-4 items-center justify-center flex-1 aspect-square"
        >
          <img
            class="aspect-square w-[50%] object-contain"
            src={Icon1.src}
            alt=""
          />
          <p class="font-semibold text-center">
            Recopilación por IA imagenes de alerta
          </p>
        </div>
        <div
          class="flex flex-col gap-4 items-center justify-center flex-1 aspect-square"
        >
          <img
            class="aspect-square w-[50%] object-contain"
            src={Icon2.src}
            alt=""
          />
          <p class="font-semibold text-center">Seguimiento de ubicación</p>
        </div>
        <div
          class="flex flex-col gap-4 items-center justify-center flex-1 aspect-square"
        >
          <img
            class="aspect-square w-[50%] object-contain"
            src={Icon3.src}
            alt=""
          />
          <p class="font-semibold text-center">La notificación es enviada</p>
        </div>
        <div
          class="flex flex-col gap-4 items-center justify-center flex-1 aspect-square"
        >
          <img
            class="aspect-square w-[50%] object-contain"
            src={Icon4.src}
            alt=""
          />
          <p class="font-semibold text-center">
            Figuras de autoridad alertadas
          </p>
        </div>
        <div
          class="flex flex-col gap-4 items-center justify-center flex-1 aspect-square"
        >
          <img
            class="aspect-square w-[50%] object-contain"
            src={Icon5.src}
            alt=""
          />
          <p class="font-semibold text-center">
            Se hace el proseso de detención
          </p>
        </div>
      </div>
    </div>

    <div
      class="w-[90%] xl:w-2/3 text-xl xl:text-3xl flex flex-col gap-6 mx-auto"
    >
      <h2 class="text-3xl font-semibold">Sistema de vigilancia</h2>
      <p>
        Se usarán cámaras con capacidad de grabación en calidad 720p 30fps con
        un bajo bitrate para reducir el uso de la red. Estas usarán un protocolo
        llamado RTSP que transmitirá los videos en la red local de cada bus.
        Esta red local será administrada por un router, encargado de redirigir
        estos paquetes a través de internet a un servidor.
      </p>

      <p>
        Cada bus contará con una conexión satelital a internet, esto nos
        permitirá reducir problemas a la hora de transmitir los datos, esta
        conexión a pesar de no tener buena latencia, nos permite enviar los
        vídeos sin problema.
      </p>

      <p>
        Por cada bus usaremos dos cámaras por vagón, esto nos permitirá ser más
        flexibles con el tamaño, ya que los buses troncales no tienen la misma
        cantidad de vagones que los híbridos.
      </p>

      <img
        src={Diagrama.src}
        class="w-[90%] xl:w-2/3 mx-auto"
        title="Fig 1. Forma en que se transmitirán los datos al servidor"
      />

      <p class="text-xs text-center w-full text-slate-600">
        Fig 1. Forma en que se transmitirán los datos al servidor
      </p>

      <h2 class="text-3xl font-semibold">Servidor y modelo Neuronal</h2>
      <p>
        El servidor recibirá esta información y usando muestreo aleatorio se
        elegirá qué videos pasarán por el modelo de IA, los paquetes enviados
        por RTSP se espera tengan un tamaño de 5 segundos, se recopilarán
        paquetes más grandes de 20 segundos. Antes de pasar al modelo, cada
        video pasará por una etapa de preprocesado, reducirá calidad y se
        preparará para ser revisado por el modelo.
      </p>

      <p>
        El modelo de IA usará un modelo que se centrará en un modelo con
        arquitectura llamada Inception V3 que usando videos con una resolución
        de 300x300 pixeles tiene un porcentaje de exactitud de 99.15%
      </p>

      <img
        src={Tabla.src}
        class="w-[90%] xl:w-2/3 mx-auto"
        title="Fig 2. Resultados tomados de Using Artificial Intelligence for Anomaly
      Detection Using Security Cameras"
      />

      <p class="text-xs text-center w-full text-slate-600">
        Fig 2. Resultados tomados de Using Artificial Intelligence for Anomaly
        Detection Using Security Cameras
      </p>

      <p>
        Estos videos se clasificaron en base al resultado del modelo, en 3
        casos:
      </p>

      <ol class="w-[80%] xl:w-2/3 mx-auto">
        <li>
          <b>Vídeo sin eventos importantes:</b> estos videos simplemente se desechará.
        </li>
        <li>
          <b>Vídeo con evento leve:</b> ya que es probable que no este ocurriendo
          nada, estos videos simplemente se guardarán en un NAS por una semana, por
          si es requerido para una denuncia o casos similares.
        </li>
        <li>
          <b>Video con evento:</b> estos videos disparará una alerta al CAI y la
          estación más cercana, además de guardar el video en el NAS.
        </li>
      </ol>

      <h2 class="text-3xl font-semibold">Entrenamiento del modelo</h2>
      <p>
        Se usarán imágenes tomadas de al menos 30 buses troncales, sitp o
        híbridos, un total de al menos 80 horas, un alrededor de 8 '640.000 de
        frames separados en paquetes de 20 segundos. De estas 80 horas se busca
        que al menos un 25% sean videos/imágenes en los que están ocurriendo
        casos de violencia o robo.
      </p>

      <img
        src={Camaras.src}
        class="w-[90%] xl:w-2/3 mx-auto"
        title="Fig 2. Resultados tomados de Using Artificial Intelligence for Anomaly
      Detection Using Security Cameras"
      />

      <p class="text-xs text-center w-full text-slate-600">
        Fig 3. Camaras de seguridad de Transmilenio
      </p>

      <h2 class="text-3xl font-semibold">App para cai y uniformados</h2>
      <p>
        Se pondrá a disposición de los agentes de policía en los CAI cercanos a
        las estaciones y ubicaciones cercanas a estaciones de bus, una
        aplicación móvil que enviará notificaciones push en caso de requerir
        presencia en un bus o estación. Esta App Mostrará información importante
        de cada bus, como sus próximas paradas y en cuánto tiempo llegará a la
        próxima estación.
      </p>

      <a
        href="/CAI"
        class="w-[80%] xl:w-1/3 text-2xl mx-auto flex items-center justify-center gap-4 bg-red-600 rounded-md p-4 font-semibold text-white"
      >
        <IconSettings size={40} />
        Probar prototipo</a
      >

      <h2 class="text-3xl font-semibold">Referencias</h2>
      <p>
        [1] G. A. Affonso, A. L. L. De Menezes, R. B. Nunes and D. Almonfrey,
        "Using Artificial Intelligence for Anomaly Detection Using Security
        Cameras," 2021 International Conference on Electrical, Computer,
        Communications and Mechatronics Engineering (ICECCME), Mauritius,
        Mauritius, 2021, pp. 1-5, doi: 10.1109/ICECCME52200.2021.9591068 [2]
        CityTv. (1692, 7 septiembre). Aumentó en un 135% el hurto a personas en
        los buses de TransMilenio. CityTv.
        https://citytv.eltiempo.com/noticias/seguridad/aumento-en-un-135-el-hurto-personas-en-los-buses-de-transmilenio_57248
        [3] Cuartas, J. (2024, 19 febrero). Productividad, formación y
        desequilibrios entre sectores: los retos del mercado laboral en 2024.
        Forbes Colombia.
        https://forbes.co/2024/02/19/capital-humano/los-retos-del-mercado-laboral-en-2024/
        [4] TransMilenio. (2022, 8 julio). Abecé cámaras del sistema de
        transporte. TransMilenio.
        https://www.transmilenio.gov.co/publicaciones/152877/abece-camaras-del-sistema-de-transporte/
        [5] Diago, D. (2023). “ Top 7 de estaciones de TransMilenio más
        peligrosas en 2023”. Recuperado de:
        https://concejodebogota.gov.co/top-7-de-estaciones-de-transmilenio-mas-peligrosas-en-el-2023/cbogota/2024-02-20/181206.php
      </p>
    </div>

    <img src={TransmiFooter.src} class="mt-12 w-full" />
    <div class="w-full bg-red-500 p-4">
      <p class="text-center text-white text-xl font-semibold">
        Creado por <a href="https://github.com/achalogy">Acha</a>
      </p>
    </div>
  </main>
</Base>
