---
// import TransMilenioLogo from "../../assets/logos/TransMilenio_logo.astro";
import TransMilenioLogo from "../../assets/transmi.png";
import TransMilenioLogoRojo from "../../assets/transmi-rojo.png";
import DibujoCamara from "../../assets/dibujo-camara.png";
import Medidas from "../../assets/medidas.png";
import Dias100 from "../../assets/100dias.png";
import Diagrama from "../../assets/Diagrama.png";
import TransmiFooter from "../../assets/TransmiFooter.png";
import Base from "../layouts/Base.astro";

import Icon1 from "../../assets/icons/Icon-1.png";
import Icon2 from "../../assets/icons/Icon-2.png";
import Icon3 from "../../assets/icons/Icon-3.png";
import Icon4 from "../../assets/icons/Icon-4.png";
import Icon5 from "../../assets/icons/Icon-5.png";

---

<Base>
  <nav class="flex flex-col">
    <div class="absolute h-[16vh] p-4 pb-0 px-14">
      <img class="h-full" src={TransMilenioLogo.src} />
    </div>
    <div
      class="flex justify-between bg-[#E34343] p-4 pl-[20rem] pr-[5rem] text-white font-semibold"
    >
      <p class="text-shadow">INICIO</p>
      <p class="text-shadow">SERVICIO AL CLIENTE</p>
      <p class="text-shadow">¿DÓNDE NOS UBICAMOS?</p>
      <p class="text-shadow">CÁMARAS TRANSMILENIO</p>
      <p class="text-shadow">NOTICIAS</p>
      <p class="text-shadow">TRANSMILENIO S.A</p>
    </div>
    <div class="bg-[#F1DE78] h-2"></div>
    <div class="bg-[#181818] h-5"></div>
  </nav>

  <main class="flex flex-col pt-[14vh] w-screen overflow-x-hidden">
    <div class="px-20 h-[60vh]">
      <h2 class="font-semibold text-2xl text-shadow-sm">
        PROTOCOLO CÁMARAS DE SEGURIDAD
      </h2>

      <div class="flex gap-12 text-xl p-6 bg-[#EDEDED]">
        <div
          class="flex flex-col gap-4 items-center justify-center flex-1 aspect-square"
        >
          <img
            class="aspect-square w-[50%] object-contain"
            src={Icon1.src}
            alt=""
          />
          <p class="font-semibold text-center">
            Recopilación por IA imagenes de alerta
          </p>
        </div>
        <div
          class="flex flex-col gap-4 items-center justify-center flex-1 aspect-square"
        >
          <img
            class="aspect-square w-[50%] object-contain"
            src={Icon2.src}
            alt=""
          />
          <p class="font-semibold text-center">Seguimiento de ubicación</p>
        </div>
        <div
          class="flex flex-col gap-4 items-center justify-center flex-1 aspect-square"
        >
          <img
            class="aspect-square w-[50%] object-contain"
            src={Icon3.src}
            alt=""
          />
          <p class="font-semibold text-center">La notificación es enviada</p>
        </div>
        <div
          class="flex flex-col gap-4 items-center justify-center flex-1 aspect-square"
        >
          <img
            class="aspect-square w-[50%] object-contain"
            src={Icon4.src}
            alt=""
          />
          <p class="font-semibold text-center">
            Figuras de autoridad alertadas
          </p>
        </div>
        <div
          class="flex flex-col gap-4 items-center justify-center flex-1 aspect-square"
        >
          <img
            class="aspect-square w-[50%] object-contain"
            src={Icon5.src}
            alt=""
          />
          <p class="font-semibold text-center">
            Se hace el proseso de detención
          </p>
        </div>
      </div>
    </div>

    <div class="relative flex flex-col h-[70rem]">
      <div class="absolute bg-[#181818] h-6 rotate-[1.5deg] w-[105vw] -left-16">
      </div>
      <div
        class="absolute bg-[#F1D378] h-4 rotate-[1.5deg] w-[105vw] -left-16 top-[1.5rem]"
      >
      </div>
      <div
        class="absolute bg-[#E34343] h-[60rem] rotate-[1.5deg] w-[105vw] -left-16 top-[2.5rem] px-[5vw]"
      >
        <div class="relative rotate-[-1.5deg] h-[95%]">
          <img class="absolute w-[15rem]" src={TransMilenioLogoRojo.src} />
          <div class="absolute z-10 bottom-0">
            <img class="w-[55%]" src={DibujoCamara.src} />
          </div>
          <div
            class="flex flex-col absolute w-full h-full justify-center py-20 ml-20"
          >
            <p class="font-semibold text-6xl text-white text-center">
              ENTERATE DE NUESTRO PROTOTIPO
            </p>
            <div
              class="flex items-center justify-center h-full w-[50%] ml-auto p-8 pr-12"
            >
              <div
                class="flex flex-col justify-around bg-white rounded-md h-[90%] w-full p-8"
              >
                <h2 class="text-center font-semibold text-5xl">MATERIALES</h2>
                <div class="h-[2px] w-full bg-black"></div>
                <ul
                  class="list-disc list-inside text-3xl font-semibold mx-[2rem]"
                >
                  <li>1 Lente</li>
                  <li>1 Sensor de imágen</li>
                  <li>1 Procesador de video</li>
                  <li>1 Carcasa</li>
                  <li>1 Fuente de alimentación</li>
                  <li>Plástico</li>
                  <li>Metal</li>
                  <li>Vidrio</li>
                </ul>
                <div class="h-[2px] w-full bg-black"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="absolute bg-[#F1D378] h-4 rotate-[1.5deg] w-[105vw] -left-16 top-[62.5rem]"
      >
      </div>
      <div
        class="absolute bg-[#181818] h-6 rotate-[1.5deg] w-[105vw] -left-16 top-[63.5rem]"
      >
      </div>
    </div>

    <div class="flex bg-[#D9D9D9] mr-auto items-center">
      <div class="h-20 aspect-square bg-[#E34343]"></div>
      <p class="px-8 text-2xl font-semibold text-shadow-sm">
        MEDIDAS ESPECÍFICAS
      </p>
    </div>

    <img src={Medidas.src} alt="" class="w-full my-8" />
    <img src={Dias100.src} alt="" class="w-[80%] mx-auto my-12" />

    <h3
      class="text-[#FF4545] text-center font-semibold text-5xl text-shadow-sm"
    >
      ¿Y CÓMO FUNCIONA POR DENTRO?
    </h3>
    <div class="w-[90%] bg-black p-3 px-8 text-center mx-auto my-8">
      <p class="text-3xl font-semibold text-white">DIAGRAMA DE FLUJO</p>
    </div>
    
    <img src={Diagrama.src} class="w-[90%] mx-auto" alt="">

    <img src={TransmiFooter.src} class="mt-12 w-full ">
  </main>
</Base>
